<!--
{{#if this.showHeader}}
  <div class="category-title-header category-banner-{{this.args.category.slug}}" style="{{this.getHeaderStyle}}">
    <div class="category-title-contents">
      <div class="category-logo aspect-image">{{this.logoImg}}</div>
      <div class="category-title-name">
        {{this.ifParentProtected}}
        {{#if this.ifParentCategory}}
          <a class="parent-box-link" href="{{this.args.category.parentCategory.url}}">
            <h1>{{this.args.category.parentCategory.name}}: </h1>
          </a>
        {{/if}}
        {{this.ifProtected}}
        <h1>{{this.args.category.name}}</h1>
      </div>
      <div class="category-title-description">
        {{#if this.catDesc}}
          <div class="cooked">
            {{this.args.category.description}}
          </div>
        {{/if}}
      </div>
    </div>
    {{this.aboutTopicUrl}}
  </div>
{{/if}}
-->
