{{#if this.showHeader}}
  <div class="category-title-header category-banner-{{this.args.category.slug}}" style="{{this.getHeaderStyle}}">
    <div class="category-title-contents">
      <div class="category-logo aspect-image">{{this.logoImg}}</div>
      <div class="category-title-name">
        {{this.ifParentProtected}}
        {{this.ifParentCategory}}
        {{this.ifProtected}}
        <h1>{{this.args.category.name}}</h1>
      </div>
      <div class="category-title-description">{{this.catDesc}}</div>
    </div>
    {{this.aboutTopicUrl}}
  </div>
{{/if}}
